h1, h2, .title {
    padding: 20px;
}

form {
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    &>div{
        display: flex;
        width: 80%;
        justify-content: space-evenly;
    }
    
    mat-form-field {
        display: block;
        width: 350px;
    }
}

.matrices {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    button {
        margin-bottom: 40px;
    }
}

mat-divider {
    margin: 10px 0;
}

table{
    margin: 0 auto;
    width: 50%;
    font-size: 16px;

    th {
        text-align: start;
    }
}